# Build
dist/

# IntelliJ
*.iml
.idea/

# Jest
coverage/

# Miscellaneous
.DS_Store

# NPM
node_modules/

# SAM
.aws-sam
cf-template.yaml
outfile.txt
template.zip
tempMessageZip.gzip

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versionsoutfile.txt
