# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
          image: amazonlinux:2
    steps:
      - name: Install dependencies...
        run: |
          yum -y update
          yum -y install git wget tar gcc libc6-dev zlib* gcc-c++
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: GraalVM 21.2.0
        uses: ayltai/setup-graalvm@v1
        with:
          java-version: 11
          graalvm-version: 21.2.0
          native-image: true
      - name: Install maven...
        run: |
          wget http://repos.fedorapeople.org/repos/dchen/apache-maven/epel-apache-maven.repo -O /etc/yum.repos.d/epel-apache-maven.repo
          sed -i s/\$releasever/6/g /etc/yum.repos.d/epel-apache-maven.repo
          yum install -y apache-maven
      - name: Cache Maven packages
        uses: actions/cache@v2.1.7
        with:
          path: |
            ~/cache
            !~/cache/exclude
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: mvn clean verify -Pnative
        run: mvn -e clean verify -Pnative
